body {
    margin: 0;
    padding-top: 72px;
    font-family: "Comfortaa-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #1d1d1d;
}

@font-face {
    font-family: 'Comfortaa-Regular';
    src: local('Comfortaa-Regular'), url("fonts/Comfortaa-Regular.ttf");
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    background-color: #fff;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header_wrap {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_info {
    display: flex;
    align-items: center;
}

.header_info-sign-in {
    padding: 14px 20px;
    background-color: unset;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    text-decoration: none;
    font-weight: 500;
    color: #1d1d1d;
}

.header_info-sign-in:hover {
    background-color: #f4f4f4;
    transition: 0.5s all;
}

.header_info-corzina {
    margin-left: 30px;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.main_search-menu {
    padding: 56px 0px;
}

.main_search-menu-input {
    width: 100%;
    height: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgb(117, 117, 117, 0.3);
    font-size: 16px;
}

.main_search-menu-input:focus {
    outline: unset;
}

.main_menu {
    margin-bottom: 70px;
}

.main_menu-title {
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 22px;
}

.main_menu-restaurants {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_menu-restaurants-product {
    margin-bottom: 16px;
}

.main_menu-restaurants_img img {
    width: 100%;
    background-size: cover;
}

.main_menu-restaurants-info {
    margin-top: 16px;
}

.main_menu-restaurants-info a {
    text-decoration: none;
    color: #1d1d1d;
}

.main_menu-restaurants-info a:hover {
    color: #82c281;
}

.main_menu-restaurants-info h2 {
    font-weight: 400;
    font-size: 16px;
}

.main_menu-restaurants-info-kitchen {
    font-size: 14px;
    color: #626262;
}

.button-up {
    width: 64px;
    height: 64px;
}

.button-up {
    position: fixed;
    right: 16px;
    bottom: 24px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #59bd5a;
    border-radius: 2px;
}

.footer {
    background-color: #262626;
    color: #fff;
}

.footer_logo {
    width: 100%;
    height: 116px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

.footer_logo a {
    width: 191px;
    height: 20px;
}

.footer_info {
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.footer_info-contacts-dropdown {
    width: 227px;
    height: 40px;
    margin-bottom: 32px;
    padding-right: 8px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    background-color: #3b3b3b;
    border-radius: 2px;
}

.footer_info-contacts-dropdown:hover {
    box-shadow: 0 0 3px #fff;
}

.footer_info-contacts-dropdown select {
    width: 100%;
    height: 40px;
    margin-left: 17px;
    background: url("icons/arrow-back.svg") no-repeat right #3b3b3b;
    outline: none;
    appearance: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.footer_info-contacts-hashtag {
    margin-bottom: 20px;
}

.footer_info-contacts-hashtag_green {
    margin: 0;
    font-size: 16px;
    color: #49a144;
}

.footer_info-contacts-hashtag_white {
    color: #fff;
}

.footer_info-social-links {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.footer_info-block-group li+li {
    margin-top: 23px;
}

.footer_info-block-group a {
    text-decoration: none;
    color: #fff;
}

.footer_info-block-group a:hover {
    color: #82c281;
}

.footer_applications {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    column-gap: 4.3%;
    border-top: 1px solid rgb(255, 255, 255, 0.4);
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

.footer_copyright {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 24px;
    white-space: nowrap;
    font-size: 11px;
}

.footer_copyright a {
    text-decoration: none;
    color: #fff;
}

.footer_copyright a:hover {
    color: #82c281;
}


/* Restaurant */

.banner {
    width: 100%;
    height: 364px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("img/fon.svg");
}

.banner_wrap {
    height: 364px;
    align-items: center;
}

.banner_card {
    padding: 38px;
    background-color: #fff;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
}

.banner_card h1 {
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 36px;
    white-space: nowrap;
    color: #1d1d1d;
}

.banner_card-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_card-text-kitchen {
    margin: 0;
    font-size: 14px;
    color: #626262;
}

.banner_card-text-time {
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    border-radius: 16px;
}

.banner_card-text-time p {
    color: #fff;
}

.header_restaurant {
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}

.header_restaurant-nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #fff;
}

.header_restaurant-nav a {
    text-decoration: none;
    font-size: 16px;
    color: #626262;
}

.header_restaurant-nav a:hover {
    color: #327430;
}

.snacks {
    margin-top: 56px;
    margin-bottom: 80px;
}

.snacks_title {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 22px;
    color: #1d1d1d;
}

.snacks-card {
    width: 100%;
    margin-top: -49px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.snacks-card li {
    margin-top: 49px;
}

.snacks-card_item {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;
}

.snacks-card_item:hover {
    background-color: rgb(117, 117, 117, 0.04);
    cursor: pointer;
}

.snacks-card_item-info {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.snacks-card_item-info h3 {
    font-weight: 400;
    font-size: 16px;
    color: #1d1d1d;
}

.snacks-card_item-info-ingredients {
    position: absolute;
    margin-top: 40px;
    color: #626262;
}

.snacks-card_item-info p {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    color: #1d1d1d;
}

.snacks-card_item_img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: end;
}

.snacks-card_item_img img {
    height: 100%;
    width: auto;
}